/labIPC/IPC_FXMLCore-master/build/
/labIPC/IPC_FXMLCore-master/IPC_FXMLCore-master/nbproject/private/
/labIPC/pract1/IPC_FXMLCore-master/IPC_FXMLCore-master/nbproject/private/
/labIPC/pract1/IPC_FXMLCore-master/build/
/labIPC/pract1/IPC_FXMLCore-master/nbproject/private/
/labIPC/pract1/IPC_Login/nbproject/private/
/labIPC/pract1/IPC_Login/IPC_FXMLCore-master/nbproject/private/
/labIPC/pract1/PC_FXMLCore-master/nbproject/private/
/labIPC/pract1/PC_FXMLCore-master/IPC_FXMLCore-master/nbproject/private/
/labIPC/pract1/PC_FXMLCore-master/build/
/labIPC/pract1/PC_FXMLCore-master/dist/
/labIPC/IPC_Login/nbproject/private/
/labIPC/IPC_Login/build/
/labIPC/openjfx-21.0.10_linux-x64_bin-sdk/
